:root{
    --loading-back-color : #c3c3c3a4;
    --scrollbar-color : #dedede;
}

/*------------SCROLLBAR------------*/

.hide-scrollbar-back::-webkit-scrollbar-track{
    background: var(--scrollbar-color) !important;
}

.hide-scrollbar-back{
    scrollbar-color: var(--scrollbar-color) transparent !important;   
}

.hide-scrollbar::-webkit-scrollbar{
    display: none !important;
}

.hide-scrollbar{

    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.line{
    height: 1px;
    width: 100%;
}